/*Fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700&display=swap");

body {
  margin: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-title , .subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin: 20px;
  border-radius: 7px;
  padding: 15px 15px;
  
}

.categories{
  display: flex;
  flex-direction: column;
  margin: 30px 80px;

}



.container-option{
  display: flex;
  flex: 0 0 calc(22% - 5px);
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  width: 200px;
  height: 150px;
  border-radius: 10px;

}


.container-option img{
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.container-option:hover{
  filter: grayscale(70%);
  transform: scale(1.1);
}

.container-option:hover .title-option{
  opacity: 1;
  background-color: black;
}

.title-option{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  color: white;
  opacity: 0;
  padding: 6px;
 
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: white;
}

.header-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
  background-color: #9F5015;
}

.header-category img{
  padding: 15px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.category-container {
  display: flex;
  flex-direction: column;
  margin: 50px 20px 20px 20px;
  border-radius: 1em;
  box-shadow: 2px 2px 5px 6px rgba(0, 0, 0, 0.2);
}

/* footer */

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: black;
  color: white;
  font-family:'Nunito', sans-serif ;
  padding: 30px;
}

.profile-section {
  display: flex;
  flex-direction: row;
  gap: 20px;

}


.profile-section img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}